
caption {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
td, th {
  width: 100px;
  height: 24px;
  text-align: center;
}
table {
    border: 3px solid green;
}

tbody {
  display: block;
  overflow: scroll;
}

.board {
    margin-bottom: 10px;
    margin-left: 100px;
    margin-right: 100px;
    display: inline-block;
    width: 50%;
    height: 50%;
    border: 3px solid green;
    overflow: hidden
}

.leaderboard {
  display: inline-block;
  width: 350px;
  height: 50%;
  margin-bottom: 40px;
}

.topbar {
  margin-left: 100px;
  margin-right: 100px;
}

.jump {
  margin-left: 100px;
  width: 50%;
}

.car, .roadblock {
  display: inline-block;
  position: relative;
  top: 89%;
  width: 30px;
  height: 30px;
}

.car {
  left: 30%;
  background: red
}

.roadblock {
  left: 100%;
  background: brown;
}

.start, .user, .score {
  display: inline-block;
}

.user, .score {
  margin-left: 20px
}

.loser {
  background-image: url("./loser.jpg");
  background-repeat: no-repeat;
  background-position: center;
  z-index: 100;
}
